// Fixed navbar
.navbar.navbar-custom(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') PT University
    .navbar-collapse.collapse
      ul.nav.navbar-nav.ij-effect-1
        li.active
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/faq') FAQ
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Certifications 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/certifications') Certified Personal Trainer
            li
              a(href='/certifications') Certified Master Trainer
            li
              a(href='/certifications') Certified Nutrition Specialist
      ul.nav.navbar-nav.navbar-right.ij-effect-1
        li
          if (!user)
            a(href='/login') #[span(class='fa fa-sign-in')] Login
          if (user)
            a(href='/dashboard').UN #[span(class='fa fa-envelope')] #{user.local.email}
        li
          if (!user)
            a(href='/signup') #[span(class='fa fa-lock')] Sign Up
          if (user)
            a(href='/logout') Logout
        li.active
          if (user)
            a(href='/dashboard') Dashboard
          if (!user)
            a(href='/login') Dashboard
          
    // /.nav-collapse
