.bg-grey-seal  
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    // Content
    .carousel-inner
      .item.active
          h1 Test Now, Pay Later
          h3 Only pay for your certification if you pass the exam
          nav.cl-effect-21
            a(href='/study').cta-link Start Practice Test
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
      .item
          h1 Take Your Career to the Next Level 
          h3 Improve your resume, results, and client retention
          nav.cl-effect-21
            a(href='/certifications').cta-link View Certifications
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
      .item
          h1 Industry Leader in Online Fitness Certifications
          h3 Best Value in Specialized Fitness Certifications
          nav.cl-effect-21
            a(href='/pricecompare').cta-link Compare Prices
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
    //left / right buttons
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
   // /.carousel
//.social-container
  a.fa.fa-facebook-square(href='facebook.com')
  a.fa.fa-twitter-square(href='twitter.com')
  a.fa.fa-google-plus-square(href='google.com')
  a.fa.fa-linkedin-square(href='linkedin.com')
