.container-fluid.bg-home 
  .row
    .col-sm-7
      #myCarousel.carousel.slide.carousel-fade(data-ride='carousel-off')
        // Indicators
        //ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        // Content
        .carousel-inner
          .item.active
              h1 Where personal trainers get certified
              h3.
                Thousands of personal trainers use PT University
                to improve their resumes, build client trust, 
                get more interviews, and get better job offers.
              //nav.cl-effect-21
                a(href='/certifications').cta-link certifications
          .item
              h1 Test Now, Pay Later
              h3 Only pay for your certification if you pass the exam.
              nav.cl-effect-21
                a(href='/study').cta-link Try a Practice Exam
              //a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
          .item
              h1 Take Your Career to the Next Level 
              h3 Improve your resume, results, and client retention.
              nav.cl-effect-21
                a(href='/certifications').cta-link View Certifications
              //a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
          .item
              h1 Industry Leader in Online Fitness Certifications
              h3 Best Value in Specialized Fitness Certifications.
              nav.cl-effect-21
                a(href='/pricecompare').cta-link Compare Prices
              //a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
        //left / right buttons
        //a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        //a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
       // /.carousel
    .col-sm-5
      .form-container-home
        form.form-horizontal(id='signup-form', method='POST', action='signup')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control.form-input-home(type='email', name='email', id='email', placeholder='Your email address', autofocus, required)
          .form-group
              input.form-control.form-input-home(type='password', name='password', id='password', placeholder='Create a password', required)
          .form-group
              input.form-control.form-input-home(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm your password', required)
          .form-group
              button.btn.btn-custom-home(type='submit')
                | Signup for PT University
              a.btn.link-blue-hov.lime(href='/login') Already have an account?





    //.social-container
      a.fa.fa-facebook-square(href='facebook.com')
      a.fa.fa-twitter-square(href='twitter.com')
      a.fa.fa-google-plus-square(href='google.com')
      a.fa.fa-linkedin-square(href='linkedin.com')
