.container-fluid.bg-navy-gradient  
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    // Content
    .carousel-inner
      .item.active
          h1 Test Now, Pay Later
          h3 Only pay for your certification if you pass the exam
          nav.cl-effect-21
            a(href='/account').cta-link Start Test
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
      .item
          h1 Grow Your Career 
          h3 Improve your resume, results, and client retention
          nav.cl-effect-21
            a(href='#').cta-link Learn More?
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
      .item
          h1 No Expiration Date!
          h3 Never worry about re-certification again!
          nav.cl-effect-21
            a(href='#').cta-link Lifetime Certifications
          a.btn.btn-lg.btn-primary(href='/signup', role='button') Sign up today
    //left / right buttons
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
   // /.carousel
.social-container
  a.fa.fa-facebook-square(href='facebook.com')
  a.fa.fa-twitter-square(href='twitter.com')
  a.fa.fa-google-plus-square(href='google.com')
  a.fa.fa-linkedin-square(href='linkedin.com')
