.container-fluid.bg-navy-gradient  
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .item.active
        .container
          h1 Test Now, Pay Later
          h3 Only pay for your certification if you pass the test
          nav.cl-effect-21
            a(href='#').cta-link Start Test
          a.btn.btn-lg.btn-primary(href='#', role='button' data-toggle="modal" data-target="#loginModal") Sign up today
      .item
        .container
          h1 Free Study Guide
          h3 Full access to online modules
          nav.cl-effect-21
            a(href='#').cta-link Learn More?
          a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
      .item
        .container
          h1 No Expiration Date!
          h3 Never worry about re-certification again!
          nav.cl-effect-21
            a(href='#').cta-link Lifetime Certifications
          a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right
   // /.carousel
.social-container
  a.fa.fa-facebook-square(href='facebook.com')
  a.fa.fa-twitter-square(href='twitter.com')
  a.fa.fa-google-plus-square(href='google.com')
  a.fa.fa-linkedin-square(href='linkedin.com')
