.form-container-db
  form(method="post", action="/updatecontact")
    h2 Update Contact Info
    .form-group
      label Name:
      input.form-control.bg-navy-gradient(type="text", name="newName",
        placeholder="#{user.local.name}")

    .form-group
      label Email:
      input.form-control.bg-navy-gradient(type="text", name="newEmail",
        placeholder="#{user.local.email}") 

    .form-group 
      button.btn.btn-custom(type="submit") Update Info
