// Footer =============================================
footer.footer
  div.container
    .row
      .col-sm-3
        ul.footer-links
          li
            a(href='/') PT University Home
          li
            a(href='/about') About
          li
            a(href='/faq') FAQ
          li(class=(title == 'API Examples') ? 'active' : undefined)
            a(href='/api') API Examples
          li(class=(title == 'Contact') ? 'active' : undefined)
            a(href='/contact') Contact
      .col-sm-3
        ul.footer-links
          li
            a(href='/certifications') Certifications
          li
            a(href='/certifications') CPT
          li
            a(href='/certifications') CMT
          li
            a(href='/certifications') CNS
      .col-sm-3
        ul.footer-links
          li
            a(href='/signup') Signup
          li
            a(href='/login') Login
          li
            a(href='/logout') Logout
      .col-sm-3
        ul.footer-links
          li
            if (user)
              a(href='/account') My Dashboard
            if (!user)
              a(href='/login') My Dashboard
          li
            a(href='/contact') Contact / Support
    
