// Footer =============================================
- var year = new Date().getFullYear().toString();
footer.footer
  div.container
    .row
      .col-sm-3
        ul.footer-links
          li
            a(href='/') PT University Home
          li
            a(href='/about') About
          li
            a(href='/faq') FAQ
          li
            a(href='/trainer-resources') Trainer Resources
      .col-sm-3
        ul.footer-links
          li
            a(href='/certifications') Certifications
          li
            a(href='/blog') Blog
          li
            a(href='/pricecompare') Price Comparison
          li
            a(href='/link-to-ptu') Link to PTU
      .col-sm-3
        ul.footer-links
          li
            a(href='/signup') Signup
          li
            a(href='/login') Login
          li
            a(href='/logout') Logout
      .col-sm-3
        ul.footer-links
          li
            a(href='/account') My Account
          li
            a(href='/contact') Contact / Support
          li
            a(href='/article-guidelines') Article Guidelines
          li
            a(href='/ptu-sitemap') Sitemap
    br
    p.copyright.
      Copyright &copy; #{year} PTUniversity.org
