if user
  - var email = user.email.split('@');
  - var shortE = email[0].concat('@...');
  - var name = user.profile.name.split(' ');
  - var firstN = name[0];
.navbar.navbar-custom
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo-img(href='/')
    .collapse.navbar-collapse
      ul.nav.navbar-nav.cl-effect-1
        //li(class=(title == 'About') ? 'active' : undefined)
          a(href='/about') About 
        //li(class=(title == 'FAQ') ? 'active' : undefined)
          a(href='/faq') FAQ 
        li(class=(title == 'Certifications') ? 'active' : undefined)
          a(href='/certifications') Certifications 
        li(class=(title == 'Study') ? 'active' : undefined)
          a(href='/study') Study 
        li
          a(href='#', data-toggle='modal',
            data-target='#verifyModal') Verify Certification 
        li(class=(title == 'Trainer Resources') ? 'active' : undefined)
          a(href='/trainer-resources') Trainer Resources
      ul.nav.navbar-nav.navbar-right.cl-effect-1
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Signup') ? 'active' : undefined)
            a(href='/signup') Signup
        else
          li(class=(title == 'Account') ? 'active' : undefined)
            a(href='/account')
              | #[strong(class='UN') #{firstN || shortE || user.id}]
          li(class=(title == 'Logout') ? 'active' : undefined)
            a(href='/logout') Logout 
          ////li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
