#cptLightBox.modal.fade(role='dialog', aria-hidden='true')
  //.modal-dialog
  .lightbox-container
    // Modal content
    .modal-content.bg-orange-gradient
      //.modal-header
        button.close(type='button', data-dismiss='modal') &times;  
      .modal-body
        button.close(type='button', data-dismiss='modal') &times;  
        img(alt='cpt certification', src='/images/cpt_cert_sample.png').img-responsive
        p.navy.text-center.
          Certified Personal Trainer
      //.modal-footer
        p.navy.text-center.
          Certified Personal Trainer

#cmtLightBox.modal.fade(role='dialog', aria-hidden='true')
  //.modal-dialog
  .lightbox-container
    // Modal content
    .modal-content.bg-orange-gradient
      //.modal-header
        button.close(type='button', data-dismiss='modal') &times;  
      .modal-body
        button.close(type='button', data-dismiss='modal') &times;  
        img(alt='cmt certification', src='/images/cmt_cert_sample.png').img-responsive
        p.navy.text-center.
          Certified Master Trainer
      //.modal-footer
        p.navy.text-center.
          Certified Personal Trainer

#cnsLightBox.modal.fade(role='dialog', aria-hidden='true')
  //.modal-dialog
  .lightbox-container
    // Modal content
    .modal-content.bg-orange-gradient
      //.modal-header
        button.close(type='button', data-dismiss='modal') &times;  
      .modal-body
        button.close(type='button', data-dismiss='modal') &times;  
        img(alt='cns certification', src='/images/cns_cert_sample.png').img-responsive
        p.navy.text-center.
          Certified Nutrition Specialist
      //.modal-footer
        p.navy.text-center.
          Certified Personal Trainer
