p You haven't passed any certifications yet.  Start a certification exam below:
ul
  li
    #[a(href='/user/cpt', target='_blank') Certified Personal Trainer]
  li
    #[a(href='/user/cmt', target='_blank') Certified Master Trainer]
  li
    #[a(href='/user/cns', target='_blank') Certified Nutrition Specialist]
