.form-group
  label Password:
  input.form-control(type="text", placeholder="Old Password", ng-model="user.local.password")
  br
  input.form-control(type="text", placeholder="New Password", ng-model="user.local.password")
  p #{user.local.password}
