.vendor-container  
  span.vendor-span
  img.vendor-img(src='/images/us-flag.gif', alt='United States Flag')
  span.vendor-span
  img.vendor-img(src='/images/stripeOutline@2x.png', alt='powered by stripe')
  //span.vendor-span
  //img.vendor-img(src='/images/bbb-seal.png', alt='Better Business Bureau')
  //span.vendor-span
  //img.vendor-img(src='/images/trust-seal.png', alt='100% Guarantee')
  //span.vendor-span
  //img.vendor-img(src='/images/ssl-secured.png', alt='SSL Secured')
