.vendor-container  
  span.vendor-span
    img.vendor-img(src='/images/us-flag.gif', alt='United States Flag',
    height="22px", width="34px")
  span.vendor-span
    img.vendor-img(src='/images/stripeOutline@2x.png', alt='powered by stripe',
    height="40px", width="238px")
  //span.vendor-span
  //img.vendor-img(src='/images/bbb-seal.png', alt='Better Business Bureau')
  //span.vendor-span
  //img.vendor-img(src='/images/trust-seal.png', alt='100% Guarantee')
  //span.vendor-span
  //img.vendor-img(src='/images/ssl-secured.png', alt='SSL Secured')
