#verifyModal.modal.fade(role='dialog')
  .modal-dialog

    // Modal content
    .modal-content.bg-orange-gradient
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;  
        .logo-img
        h4
          span.fa.fa-file-text
          |  Certification Verification Form

      .modal-body
        form(role='form', action='/verify', method='post', target='_blank')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.navy(for='certType') What certification are you verifying? 
            br
            select.bg-navy-gradient(name="certType")
              option(value="certs.cpt") Certified Personal Trainer
              option(value="certs.cmt") Certified Master Trainer
              option(value="certs.cns") Certified Nutrition Specialist

          .form-group
            label.navy(for='req_verify_id')
              span.fa.fa-key
              | Verification ID 
            input.form-control.bg-navy-gradient(type='text', name='req_verify_id',
              placeholder='Enter Verification ID')
          button.btn.btn-block.btn-custom-N(type='submit')
            span.fa.fa-key
            |  Verify Certification
      .modal-footer
        p
          | Not a member? 
          a(href='/signup', style="color:white") Sign Up 

