extends layout
block content
  .container-fluid.bg-navy-gradient
    h1 About Page
    p online personal trainer certifications
    p look at some other about pages
    p about tests
    p about certifications
