extends layout
block content
  .container-fluid.bg-grey-seal
    h1 #[span(class='orange') Personal Training University]
    .page-header
      h3 About PT University 
    img(alt='cpt certification', src='/images/ptusealgold.png', align='right', 
    height='16%', width='16%', style="margin:0px 25px 5px 25px", class='img-responsive')
    p.
      PT University is a leader in Online Fitness certifications and 
      specializes in certifications for fitness professionals
      who work in the fitness industry and have knowledge in the areas 
      of exercise science and nutrition. PT University
      helps you expand your knowledge and marketing value by 
      testing in industry-specific fields. Take one of our 
      #[a(href='/certifications').link-green-hov.orange risk-free exams] today.  Don’t pay unless you pass!
    p.
      Our goal at PT University is to provide quality online testing and 
      certifications for fitness professionals. PTU certifications have helped 
      thousands of fitness professionals by improving their resumes and adding 
      valuable credentials to improve client trust.    
    p(style="text-decoration:underline").
      All certifications require 70% correct to pass. Upon completion of the 
      certification exam, a checkout link will appear in the certifications 
      section of your profile page. Your verification ID will be unlocked after
      your payment is completed. Your verification ID is accessible from your
      profile page in the certification section.  The name entered on your
      profile page, will be the name that appears on your certification when
      clients and/or employers enter your verification ID.
    .page-header
      h3 Our Mission and Core Values
    p.
      PT University's mission is to deliver high-quality certification
      credentials and online testing that offer the best value for any
      fitness professional desiring to improve their career.  We strive 
      to be on the cutting edge of technology for delivery of our products.
      Above all else, customer service is our #1 priority. We are always
      striving to improve our customer experiences.  If you have any questions
      or suggestions, please #[a(href='/contact').link-green-hov.orange contact us] anytime.
    p.
      Don't have an account yet? #[a(href='/signup').link-green-hov.orange sign up now]

