extends layout

block content
  .container-fluid.bg-grey-seal
    .width900
      h1.orange Personal Training University
      .page-header
        h3 A Leader in Online Personal Training Certifications and Sports Science
      img(alt='cpt certification', src='/images/ptusealgold.png', align='right', 
      height='16%', width='16%', style="margin:0px 25px 5px 25px", class='img-responsive')
      p.
        Personal Training University sets the industry standard for online 
        fitness certifications, health and fitness career advancement, and sports 
        medicine for exercise science professionals.
        We specialize in certifications for fitness professionals
        who work in the fitness industry and have knowledge in the areas 
        of exercise science and nutrition. PT University
        helps you expand your knowledge and marketing value by 
        testing in industry-specific fields. Take one of our 
        #[a(href='/certifications').link-green-hov.orange risk-free exams] today.  Don’t pay unless you pass!
      p.
        Our goal at PT University is to provide quality online testing and 
        certifications for fitness professionals. PTU certifications have helped 
        thousands of fitness professionals by improving their resumes and adding 
        valuable credentials to improve client trust.    
      .page-header
        h3 PT University Certifications
      p.
        PT University offers the most prestigious online certifications in 
        the fitness industry. We pride ourselves on the content and the 
        “real world” application of materials that personal trainers will 
        apply every day when training their clients. In addition to the 
        Certified Personal Trainer (CPT) credential, PT University offers 
        two premier advanced credentials including the Certified Master 
        Trainer (CMT) and the Certified Nutrition Specialist (CNS). The 
        PT University Board of Certification (PTU-BOC) and Advisory Council 
        ensure that the content and exam questions are appropriate and 
        applicable for the entry-level certification and the advance 
        certifications. All of the certification content is derived from 
        peer-reviewed research articles, Undergraduate college texts, and 
        Graduate level college texts. PT University is comprised of fitness 
        professionals from many fields including Personal Trainers, Strength 
        Coaches, Exercise Physiologists, Nutritionists, Researchers, and 
        Wellness Coaches.
      p.
        To ensure our certifications are accessible to everyone with a passion
        for health and fitness, <span style="text-decoration:underline"> no 
        payment is required to take our exams. Only pay if you pass.</span> 
      p All certifications require 70% correct to pass.
      p.
        Checkout our #[a(href='/pricecompare').link-green-hov.orange price comparison]
        for more details.
      .page-header
        h3 Our Mission and Core Values
      p.
        PT University's mission is to deliver high-quality certification
        credentials and online testing that offer the best value for any
        fitness professional desiring to improve their career.  We strive 
        to be on the cutting edge of technology for delivery of our products.
        Above all else, customer service is our #1 priority. We are always
        striving to improve our customer experiences.  If you have any questions
        or suggestions, please #[a(href='/contact').link-green-hov.orange contact us] anytime.
      p.
        Our ultimate mission is to prepare fitness professionals to do their 
        part in reversing the obesity epidemic that is plaguing America and 
        the rest of the world today.
      p.
        Don't have an account yet? #[a(href='/signup').link-green-hov.orange sign up now]
      .page-header
        h3 Exercise is the Real Medicine: Did You Know?
      ul
        li
          p.
            Exercise reverses the damage of Type-II Diabetes by increasing 
            insulin sensitivity in the cells.
        li
          p.
            A study showed that every 2 hours of watching television increased 
            risk for Type-II Diabetes by 14%.  Conversely, every 1 hour of 
            brisk walking reduced risk for Type-II Diabetes by 34%.
        li
          p.
            Numerous studies have shown that physical activity, by improving 
            blood flow to the brain and reducing plaque buildup in brain 
            tissues, improves mental function and decreases risk for 
            cognitive decline and dementia.
        li
          p.
            Men over 50 and women over 40 lose 6% of their muscle and 10-15% 
            of their strength every decade.  Strength training has been 
            shown to increase muscular strength by 40% in as little as 
            2 months.
        li
          p.
            Strength training, by progressively overloading the skeletal 
            system, improves bone mineral density and drastically reduces 
            risk of fractures and breaks.
        li
          p.
            Active individuals feel happier, report being in better moods, 
            and are 20% less likely to suffer from depression compared to 
            inactive individuals.  Exercise has been shown to decrease symptoms 
            of depression as much as any drug or therapy treatment.
        li
          p.
            One hour of brisk walking per day reduces risk for obesity by 24%.
        li
          p.
            Men and women who are physically active for at least 30 minutes 
            per day decrease their risk for colon cancer by 30-40%.
        li
          p.
            Women who exercise regularly reduce their risk for breast cancer 
            by 20%.
        li
          p.
            One American has a heart attack every 27 seconds.  Exercise reduces 
            risk of heart disease by strengthening the heart, reducing blood 
            pressure, reducing plaque buildup, and making it easier for 
            blood to flow throughout the body and cardiovascular system.
        li
          p.
            Individuals that are active are 25% less likely to suffer from a 
            stroke compared to those who aren’t active.
        li
          p.
            If your muscle isn’t stimulated, your body senses that it doesn’t 
            need it.   It’s expensive in terms of calories burned, so your body 
            begins to get rid of it.
        li
          p.
            If you’re not active, all of your body systems begin to deteriorate, 
            even down to the cellular level.
        li
          p.
            It’s never too late to start exercising.  Even into your late 90’s, 
            your body systems can improve and benefit from being stimulated by 
            physical activity.

