extends layout

block content
  .container(ng-controller="adminCtrl")
    h1 Admin
    h3.
       #[a(href='/admin/users') get users] |
       #[a(href='/admin/users') get users] |
       #[a(href='/admin/users') get users] |
       #[a(href='/admin/users') get users] |
    
  
  
