extends layout

block content
  article.container-fluid.bg-grey-seal
    .width900
      h1.orange Article Guidelines
      .page-header
        h3 Interested in Writing for PT University?
      h4.orange.
        We will soon be anouncing a blog where fitness professionals can express
        themselves while educating and motivating others in the fitness community.
      h2 What you should know
      ol
        li
          p.
            PT University will be publishing the latest and most advanced 
            information for personal trainers, fitness professionals, and those
            just interested in cutting fat, building muscle, increasing 
            strength and power, and just living a healthier life. 
            Topics include bodybuilding, powerlifting, strength and 
            conditioning, nutrition and fat loss.
        li
          p.
            We don't want the next fitness magazine article. We are after
            well researched, well cited articles based on the latest 
            exercise science and nutrition research. Articles must be
            engaging for the reader.
        li
          p.
            All authors will be vetted before publication. Advanced 
            degrees and certifications aren't a requirement, but you must
            have a track record of delivering results. Diet and exercise
            regimens must be based on effective protocols and/or scientific
            research.
        li
          p.
            All articles submitted must be new and original. We aren't 
            interested in plagiarism.
        li
          p.
            We only accept articles submitted as a Microsoft Word file
            or Rich Text Format.
        li
          p.
            Typical articles will be 1200-2000 words. However, we consider 
            articles of all lengths.
        li
          p.
            No vertical photos if you provide photos.  Turn your phone sideways.
        li
          p.
            No vertical videos if you provide videos. Turn your phone sideways. 
            No promotional material or advertising is allowed in any videos.

      h2 How do I submit an Article?
      p.orange.
        Send articles to <strong>ptuteam@ptuniversity.org</strong> in
        MS Word format or Rich Text Format.
      p.
        Make sure to include your full name, fitness credentials, and 
        training background.
      p.
        If your article is selcted, we'll email you requesting a personal
        photo for us to include in the article.
      p.
        <strong>NOTE: We don't have time to send critiques of every article
        that wasn't accepted.  If your article only needs minor improvements,
        we will send you a list of what needs improvement or send you a
        revised copy for you to re-submit.</strong>
      p.
        If you don't receive a response within 3 business days of submitting
        an article, it may be time to go back to the drawing board.


