extends layout

block content
  include ./includes/header.jade
  include ./includes/verifyModal.jade
  .container-fluid.bg-navy-gradient
    h1 Certifications
    h3#cpt-section #[span(class='green bold lg') CPT] #[span(class='green') Certified Personal Trainer] 
    p.
      The Certified Personal Trainer (CPT) is for professionals who 
      design strength training programs for individuals in the 
      general population. 

    h4 Prerequesites

    h3#cmt-section #[span(class='red bold lg') CMT] #[span(class='red') Certified Master Trainer]
    p.
      The Certified Master Trainer (CMT) is a more advanced
      certificate for professionals who design strength training
      programs for individuals in athletic populations.

    h4 Prerequesites

    h3#cns-section #[span(class='blue bold lg') CNS] #[span(class='blue') Certified Nutrition Specialist]
    p.
      info about the cns

    h4 Prerequesites


  include ./includes/footer.jade
