extends layout

block content
  include partials/lightBoxes.jade
  .container-fluid.bg-grey-seal
    .width900
      h1 #[span(class='orange') Certifications]
      .page-header
        h3#cpt-section #[span(class='green bold lg') CPT] #[span(class='green') Certified Personal Trainer] 

      h4.green Who is the CPT designed for?
      a(href='#', data-toggle='modal', data-target='#cptLightBox')
        img(alt='cpt certification', src='/images/cpt_cert_sample.png', align='right', 
      height='25%', width='25%', style="margin:0px 10px 10px 10px", class='img-responsive')
      p.
        The Certified Personal Trainer (CPT) is for health/fitness 
        professionals with experience in client assessment, client motivation, 
        education and training clients regarding their personal health and 
        fitness needs. The CPT credential provides your clients and employers 
        with assurance of your experience and expertise. This credential shows 
        that you are knowledgeabe on the basic fundamentals of personal training 
        methods and techniques.

      p.
        PT University professionals work at gyms, hospitals, workplace wellness 
        departments and universities across America.

      p.
        By completing the CPT, professional trainers 
        can better serve their clients with the latest information and tools 
        they need to succeed. The CPT refreshes 
        and builds on the fundamentals of any personal trainer's broad-based 
        foundation of knowledge.  

      p.
        CPT practice exams can be found on the 
        #[a(href='/study').link-green-hov.orange study page].

      h4.green How much does it cost?
      p.
        You don't pay anything to take the CPT exam. The CPT verified
        certification is $99.
        
      p.
        Check out our full
        #[a(href='/pricecompare', class='link-green-hov orange') price comparison].

      .page-header
        h3#cmt-section #[span(class='red bold lg') CMT] #[span(class='red') Certified Master Trainer]

      h4.red Who is the CMT designed for?
      a(href='#', data-toggle='modal', data-target='#cmtLightBox')
        img(alt='cmt certification', src='/images/cmt_cert_sample.png', align='right', 
      height='25%', width='25%', style="margin:0px 10px 10px 10px", class='img-responsive')
      p.
        The Certified Master Trainer (CMT) is a more advanced
        certificate for professionals who design strength training
        programs for individuals in athletic populations.

      p.
        The CMT credential is a great way for experienced fitness professionals to show
        their clients they have achieved excellence and mastered the craft of 
        personal training.
      p.
        For fitness professionals who want to attract a greater number of clients 
        and showcase their expertise, the CMT credential is 
        an excellent choice. The CMT is a tool to help qualified and experienced 
        trainers take their training to the next level and remaining the most
        relevant and obvious choice for clients and fitness employers.
      p.
        CMT practice exams can be found on the 
        #[a(href='/study').link-green-hov.orange study page].

      h4.red How much does it cost?
      p.
        You don't pay anything to take the CMT exam. The CMT verified
        certification is $149.
      p.
        Check out our full
        #[a(href='/pricecompare', class='link-green-hov orange') price comparison].

      .page-header
        h3#cns-section #[span(class='blue bold lg') CNS] #[span(class='blue') Certified Nutrition Specialist]

      h4.blue Who is the CNS designed for?
      a(href='#', data-toggle='modal', data-target='#cnsLightBox')
        img(alt='cns certification', src='/images/cns_cert_sample.png', align='right', 
      height='25%', width='25%', style="margin:0px 10px 10px 10px", class='img-responsive')
      p.
        Certified Nutrition Specialists (CNS) provide superior and more detailed 
        nutrition advice to their clients.

      p.
        The CNS credential is designed for fitness professionals that want to appeal to 
        clients interested in the nutritional side of training, weight control,
        and athletic performance.  

      p.
        A CNS will help personal trainers, group fitness instructors, health 
        coaches, and health care professionals expand their knowledge of 
        nutrition and learn to translate that information into actionable 
        lifestyle change for clients and patients. Give advice on selecting 
        and preparing food, reading nutrition labels, and choosing meals that 
        facilitate weight loss, improve athletic performance and meet special 
        dietary needs.
      p.
        CNS practice exams can be found on the 
        #[a(href='/study').link-green-hov.orange study page].

      h4.blue How much does it cost?
      p.
        You don't pay anything to take the CNS exam. The CNS verified
        certification is $99.
      p.
        Check out our full
        #[a(href='/pricecompare', class='link-green-hov orange') price comparison].

      p.
        Need an account? #[a(href='/signup').link-green-hov.orange signup now].

  // CPT json-ld product
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "product",
      "brand": "PT University",
      "name": "Certified Personal Trainer",
      "image": "/images/cpt_cert_sample.png",
      "description": "Online Personal Trainer Certification.  Test now, pay later. Don't pay unless you pass your exam."
    }
  // CMT json-ld product
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "product",
      "brand": "PT University",
      "name": "Certified Master Trainer",
      "image": "/images/cmt_cert_sample.png",
      "description": "Online Personal Trainer Certification.  Test now, pay later. Don't pay unless you pass your exam."
    }
  // CNS json-ld product
  script(type='application/ld+json').
    {
      "@context": "http://www.schema.org",
      "@type": "product",
      "brand": "PT University",
      "name": "Certified Nutrition Specialist",
      "image": "/images/cns_cert_sample.png",
      "description": "Online Nutrition Specialist Certification.  Test now, pay later. Don't pay unless you pass your exam."
    }
