extends layout
block content
  include ./includes/header.jade
  .container-fluid.bg-navy-gradient
    h1 Certifications Page
    h3 Certified Personal Trainer
    h3 Certified Master Trainer
    h3 Certified Nutrition Specialist
  include ./includes/footer.jade
