extends layout

block content
  .container-fluid.bg-red-gradient
    .width900
      h1.navy Oops!!! 404 Error: Page Not Found 
      .page-header
        h3.
          Sorry, you've drifted out of bounds. Maybe you were looking for
          one of these pages.
      ol
        li
          h3 #[a(href='/').link-blue-hov.navy PT University Home]
        li
          h3 #[a(href='/account').link-blue-hov.navy My Account]
        li
          h3 #[a(href='/certifications').link-blue-hov.navy Certifications]
        li
          h3 #[a(href='/study').link-blue-hov.navy Study Material]
        li
          h3 #[a(href='/faq').link-blue-hov.navy Frequently Asked Questions]
        li
          h3 #[a(href='/article-guidelines').link-blue-hov.navy PTU Article Guidelines]
        li
          h3 #[a(href='/trainer-resources').link-blue-hov.navy Trainer Resources]
        li
          h3 #[a(href='/contact').link-blue-hov.navy Contact / Support]

