extends layout
block content
  .container-fluid.bg-navy-gradient
    h1 #[span(class='orange') Frequently Asked Questions]
    ul
      li
        a(href='#q1').btn-link.green question1
      li
        a(href='#q2').btn-link.green question2
      li           
        a(href='#q3').btn-link.green question3
      li           
        a(href='#q4').btn-link.green question4
      li           
        a(href='#q5').btn-link.green question5
      li           
        a(href='#q6').btn-link.green question6
      li           
        a(href='#q7').btn-link.green question7
      li           
        a(href='#q8').btn-link.green question8
      li           
        a(href='#q9').btn-link.green question9
      li            
        a(href='#q10').btn-link.green question10

    ul
      li#q1
        h3 question 1
        p answer 1 
      li#q2
        h3 question 2
        p answer 2 
      li#q3
        h3 question 3
        p answer 3 
      li#q4
        h3 question 4
        p answer 4 
      li#q5
        h3 question 5
        p answer 5 
      li#q6
        h3 question 6
        p answer 6 
      li#q7
        h3 question 7
        p answer 7 
      li#q8
        h3 question 8
        p answer 8 
      li#q9
        h3 question 9
        p answer 9 
      li#q10
        h3 question 10
        p answer 10 
