extends layout

block content
  .container-fluid.bg-grey-seal
    .width900
      h1.orange Want to Link to PT University? 
      .page-header
        h3 PT University welcomes links from other websites
      p.
        We welcome links made from other sites to 
        #[a(href='/').link-green-hov.orange www.ptuniversity.org]. 
      p.
        PTU Certified Fitness Professionals, you’re welcome to place a link on 
        your personal website or social media pages to build and display your 
        credibility and certifications status. You may link to the PTU home page,
        www.ptuniversity.org, or to any sub page within the site. 
      p.
        PT University reserves the right to change URLs for sub pages at any 
        time; it is your responsibility to verify your links to 
        www.ptuniversity.org sub pages. 
      p.
        PTU appreciates your use of the PTU website and would also appreciate 
        it if you would notify the PTU Leadership Team at 
        <span style="color:#ffdc00">ptuteam@ptuniversity.org</span>
        with your intention to link to our site. You can contact us directly 
        through our 
        #[a(href='/contact').link-green-hov.orange contact form] as well.

      .page-header
        h3 What's Not Allowed?
      H4 You may not do any of the following:
      ol
        li.
          Link directly to PDF files, or other downloadable content on the PTU 
          web server.
        li.
          Pull graphics, text, article content, or video content from the PTU 
          site without attributing the content to PT University.
        li.
          Host PTU pages within frames on your web site; alter the appearance 
          of any PTU Web page; or imply affiliation with or state that the 
          Personal Training University endorses or sponsors your site or 
          product, unless your site or product is actually endorsed or 
          sponsored by PTU.

