extends layout

block content
  .container-fluid.bg-grey-seal
    .width900
      .page-header
        h1.orange PT University Sitemap
      .row
        .col-sm-3
          h3 About PTU
          p #[a(href='/').link-green-hov.orange Home]
          p #[a(href='/about').link-green-hov.orange About]
          p #[a(href='/faq').link-green-hov.orange FAQ]
          p #[a(href='/account').link-green-hov.orange My Account]
          p #[a(href='/login').link-green-hov.orange Login]
          p #[a(href='/signup').link-green-hov.orange Signup]
          p #[a(href='/link-to-ptu').link-green-hov.orange Link to PTU]
          p #[a(href='/article-guidelines').link-green-hov.orange Article Guidelines]
          p #[a(href='/forgot').link-green-hov.orange Forgot Password?]
          p #[a(href='/contact').link-green-hov.orange Contact / Support]
        .col-sm-3
          h3 Certifications
          p #[a(href='/certifications').link-green-hov.orange Certifications]
          p #[a(href='/pricecompare').link-green-hov.orange Prices]
          p #[a(href='/certifications#cpt-section').link-green-hov.orange CPT]
          p #[a(href='/certifications#cmt-section').link-green-hov.orange CMT]
          p #[a(href='/certifications#cns-section').link-green-hov.orange CNS]
          //h3 Blog
          //p #[a(href='/blog').link-green-hov.orange Blog Home]
        .col-sm-3
          h3 Trainer Resources
          p #[a(href='/trainer-resources').link-green-hov.orange Trainer Resources]
          p #[a(href='/trainer-resources/PTU-Bench-1RM-Conversion-Chart.pdf').link-green-hov.orange Bench 1RM Conversion Chart (PDF)]
          p #[a(href='/trainer-resources/PTU-Squats-1RM-Conversion-Chart.pdf').link-green-hov.orange Squats 1RM Conversion Chart (PDF)]
          p #[a(href='/trainer-resources/PTU-Deadlift-1RM-Conversion-Chart.pdf').link-green-hov.orange Deadlift 1RM Conversion Chart (PDF)]
          p #[a(href='/trainer-resources/PTU-Client-Par-Q-Back.pdf').link-green-hov.orange Par-Q Back (PDF)]
          p #[a(href='/trainer-resources/PTU-Client-Par-Q-Front.pdf').link-green-hov.orange Par-Q Front (PDF)]
          p #[a(href='/trainer-resources/PTU-Client-Par-Q.xlsx').link-green-hov.orange Par-Q Full (Excel)]
          p #[a(href='/trainer-resources/PTU-Client-Top20-Foods-List.pdf').link-green-hov.orange Top 20 Foods List (PDF)]
          p #[a(href='/trainer-resources/PTU-Healthy-Foods-List.jpg').link-green-hov.orange Healthy Foods List (JPG)]
        .col-sm-3
          h3 Study Material
          p #[a(href='/study').link-green-hov.orange Study]
          p #[a(href='/study/PTU-study-guide-pdf').link-green-hov.orange Study Guide]
          p #[a(href='/study#Books').link-green-hov.orange Personal Trainer Books]
          h3 Practice Exams
          p #[a(href='/cptpractice1').link-green-hov.orange CPT Practice Exam 1]
          p #[a(href='/cptpractice2').link-green-hov.orange CPT Practice Exam 2]
          p #[a(href='/cptpractice3').link-green-hov.orange CPT Practice Exam 3]
          p #[a(href='/cmtpractice1').link-green-hov.orange CMT Practice Exam 1]
          p #[a(href='/cmtpractice2').link-green-hov.orange CMT Practice Exam 2]
          p #[a(href='/cmtpractice3').link-green-hov.orange CMT Practice Exam 3]
          p #[a(href='/cnspractice1').link-green-hov.orange CNS Practice Exam 1]
          p #[a(href='/cnspractice2').link-green-hov.orange CNS Practice Exam 2]
          p #[a(href='/cnspractice3').link-green-hov.orange CNS Practice Exam 3]
