extends layout
block content
  include ./includes/header.jade
  .container-fluid.bg-navy-gradient
    h1 Support Page
    p some contact info
    p link to faq
    p look at other support pages
  include ./includes/footer.jade
