extends layout

block content
  .container-fluid.bg-grey-seal
    .width900
      h1.orange Trainer Resources
      .page-header
        h2 1 Rep Max Conversion Charts
      h3 #[a(href='/trainer-resources/PTU-Bench-1RM-Conversion-Chart.pdf', target="_blank").link-green-hov.orange Bench Press 1-RM Conversion Chart (PDF)]
      h3 #[a(href='/trainer-resources/PTU-Squats-1RM-Conversion-Chart.pdf', target="_blank").link-green-hov.orange Squats 1-RM Conversion Chart (PDF)]
      h3 #[a(href='/trainer-resources/PTU-Deadlift-1RM-Conversion-Chart.pdf', target="_blank").link-green-hov.orange Deadlift 1-RM Conversion Chart (PDF)]

      .page-header
        h2 Assessment Forms & Client Handouts
      h3 #[a(href='/trainer-resources/PTU-Client-Par-Q-Front.pdf', target="_blank").link-green-hov.orange Par-Q Front (PDF)]
      h3 #[a(href='/trainer-resources/PTU-Client-Par-Q-Back.pdf', target="_blank").link-green-hov.orange Par-Q Back (PDF)]
      h3 #[a(href='/trainer-resources/PTU-Client-Par-Q.xlsx', target="_blank").link-green-hov.orange Par-Q Full (Excel)]
      h3 #[a(href='/trainer-resources/PTU-Client-Top20-Foods-List.pdf', target="_blank").link-green-hov.orange Top 20 Foods List (PDF)]
      h3 #[a(href='/trainer-resources/PTU-Healthy-Foods-List.jpg', target="_blank").link-green-hov.orange Healthy Foods List (JPG)]
