/* ------------------quiz.css-------------------------*/
/*---------------myQuiz-----------------------*/
.myQuiz {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	width: 650px;
	min-height: 750px;
	position: relative;
	overflow: hidden;
	color: #fff;
	background: #000;
  margin: 10px auto;
  border-radius: 20px;  
}

.myQuiz h1 {
  font-weight: 100;
  font-size: 1.8em;
  text-transform: uppercase;
  margin: 0px;
  position: absolute;
  top: 25px;
  left: 36px;
}
.myQuiz h2 {
  font-size: 3em;
  margin: 0px;
  font-weight: 100;
}
.myQuiz p {
  margin: 0px 0px 14px 0px;
}
/* myQuiz Progess Bar */
.myQuiz .progress-quiz {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 25px;
}
.myQuiz .progress-quiz div {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 1px;
  border-radius: 50%;
  background-color: rgba(255,255,255,.2);
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.myQuiz .progress-quiz div.on,
.myQuiz .progress-quiz div.answered {
  background-color: #efee5e;
}
.myQuiz .progress-quiz div.correct {
  background: rgba(1,255,111,1);
}

/* myQuiz Intro */
.myQuiz .intro {
  position: absolute;
  top: 80px;
  left: 40px;
}
.myQuiz .intro p {
  margin: 0px 0px 5px 0px;
}
.btn-quiz {
  display: inline-block;
  cursor: pointer;
  background-color: #c04b01;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;

}
.btn-quiz:hover {
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
}
/* myQuiz Questions */
.myQuiz .question {
  width: 550px;
  position: absolute;
  top: 80px;
  left: 660px;
}
.myQuiz .question .txt {
  font-size: 1.6em;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px 0px 20px 0px;
}
.myQuiz .question .ans {
  display: block;
  font-size: 1.1em;
  width: 90%;
  border: 2px solid rgba(238,189,102,.4);
  border-radius: 6px;
  padding: 10px;
  margin: 0px 15px 15px 0px;
  position: relative;
}
.myQuiz .question .ans.selected {
  border-color: #be4b16;
}
.myQuiz .question .ans.correct {
  border-color: #459a2e; 
}

.myQuiz .question .ans::after {
  content:'';
  display: block;
  width: 20px;
  height: 20px;
  background: no-repeat 0px 0px;
  -webkit-background-size: 20px 20px;
          background-size: 20px 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.myQuiz .question .ans.selected::after {
  background-image: url(../images/Incorrect.svg);
}
.myQuiz .question .ans.correct::after {
  background-image: url(../images/Correct.svg);
}
.myQuiz .question.unanswered .ans {
  cursor: pointer;
}
.myQuiz .question.unanswered .ans:hover {
  background-color: rgba(238,289,102,.2);
}
.myQuiz .question.answered .ans {
  cursor: default;
}
.myQuiz .question .ans.image {
  min-height: 60px; padding: 0px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
/* myQuiz feeback */
.myQuiz .feedback {
  color: #efbe5e;
  margin-top: 50px;
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s; 
  visibility: hidden;
  opacity: 0;
}
.myQuiz .feedback .btn-quiz {
  margin-top: 5px;
}
.myQuiz .feedback strong {
  color: darkgreen;
}
.myQuiz .answered .feedback {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}
/* myQuiz Results */
.form-container-results {
  margin: 30px auto;
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,133,27,1);
  text-align: center;
}
.myQuiz .results {
  position: absolute;
  top: 90px;
  left: 660px;
  width: 550px;
}
.myQuiz .results .share {
  margin-top: 40px;
}
.myQuiz .results .share a.btn-quiz {
  margin-right: 20px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 10px 5px;
  -webkit-background-size: 25px 25px;
          background-size: 25px 25px;
}
.myQuiz .results .share a.btn-quiz.email {
  background-color: #f0a121;
}
.myQuiz .results .share a.btn-quiz.twitter {
  background-color: #59abeb;
}

.myQuiz .active,
.myQuiz .inactive {
  -webkit-transition: left 1.5s ease-in-out;
  -o-transition: left 1.5s ease-in-out;
  transition: left 1.5s ease-in-out;
}
.myQuiz .active {
  left: 40px;
}
.myQuiz .intro.inactive,
.myQuiz .inactive.answered {
  left: -1350px;
}

/*-------------media Query------------------*/

@media screen and (max-width: 650px) {
  
.container-fluid { padding: 0px; margin: 0px; }

.myQuiz { width: 320px; -webkit-background-size: 320px auto; background-size: 320px auto; }
.myQuiz h1 { width: 300px; font-size: 1.2em; top: 25px; left: 25px;}
.myQuiz h1 span { line-height: 43px; }
.myQuiz h2 { margin: 0px; }
.myQuiz h3 { font-size: 2.2em; margin-bottom: 15px; }
.myQuiz p { max-width: 300px; }
.btn-quiz { max-width: 90%; }

.myQuiz .progress-quiz { width: 95%; top: 80px; left: 25px; }
.myQuiz .progress-quiz div { width: 2px; height: 3px; margin-right: 0.5px; }
.myQuiz .progress-quiz div::after { top: -30px; width: 53px; height: 33px; }

.myQuiz .intro { width: 300px; top: 110px; left: 330px; }

.myQuiz .question { width: 300px; top: 110px; left: 330px; }
.myQuiz .question .txt { font-size: 1.4em; margin-bottom: 15px; }
.myQuiz .question .ans { font-size: 1em; padding: 5px 10px; margin-bottom: 10px; }
.myQuiz .question .ans.image { min-height: 45px; -webkit-background-size: auto 45px; background-size: auto 45px; }
.myQuiz .question .ans.image:hover { background-color: #000; }

.myQuiz .results { width: 260px; top: 130px; left: 330px; }
.myQuiz .results .share { margin-top: 20px; }
.myQuiz .results .a.btn-quiz { margin-bottom: 20px; }

.myQuiz .active { left: 25px; }
.myQuiz .intro.inactive,
.myQuiz .inactive.answered { left: -650px; }

} /* end @media screen */
