.form-container-db
  form(method="post", action="/updatepassword")
    h2 Update Password
    .form-group
      label Old Password:
      input.form-control.bg-navy-gradient(type="text", placeholder="Old Password",
        name="oldPassword")

    .form-group
      label New Password
      input.form-control.bg-navy-gradient(type="text", placeholder="New Password",
        name="newPassword")

    .form-group
      button.btn.btn-custom(type="submit") Update Password
