@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto);

/*
lime green: rgba(1,255,111,1)
orange: rgba(255,133,27,1)
navy: rgba(0,32,63,1)
teal: rgba(57,204,204,1)
red: rgba(246,46,36,1)
green: rgba(46,204,64,1)
blue: rgba(0,116,217,1)
*/

.container-fluid {
  min-height: 100vh;
}

.red {
  color: rgba(246,46,36,1);
}

.green {
  color: rgba(46,204,64,1);
}
.container-fluid h1,
.container-fluid h2,
.container-fluid h3,
.container-fluid h4,
.container-fluid h5,
.container-fluid p {
  color: white;
  font-family: Raleway;
}

/*-------------Form Containers--------------*/

.form-container {
  margin: 30px auto;
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,133,27,1);
  text-align: center;
}

.form-container input,
.form-container input::-webkit-input-placeholder {
  color: rgba(255,133,27,1);
  text-align: center;
  font-family: Raleway;
}

.btn-custom {
  width: 100%;
  background: rgba(255,133,27,1) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  border-radius: 5px;
  border: 1px solid rgba(0,32,63,1);
  font-weight: bold;
  font-size: 1.2em;
}

.btn-custom:hover {
  box-shadow: inset 0 0 10px #000;
}

.btn-custom-N {
  width: 100%;
  background: rgba(0,32,63,1)  no-repeat;
  background: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%) no-repeat;
  color: rgba(255,133,27,1);
  border-radius: 5px;
  border: 1px solid rgba(0,32,63,1);
  font-weight: bold;
  font-size: 1.2em;
}

.btn-custom-N:hover {
  box-shadow: inset 0 0 20px rgba(127,219,255,1);
  color: rgba(255,133,27,1);
  border: 1px solid rgba(127,219,255,1);
}

.msg-container {
  max-width: 400px;
  margin: 3px auto 3px auto;
  text-align: center;
}

.alert {
  padding: 2px;
}
/*------------------------Dashboard-------------------*/

.dashboard-container {
  width: 80%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.dashboard-container h3 {
  color: rgba(255,255,255,1);
  font-size: 1.3em;
  font-weight: bold;
} 

.dashboard-container li a {
  color: rgba(255,255,255,1);
  font-size: 1em;
  font-weight: bold;
}

.dashboard-container li a:hover,
.dashboard-container li a:focus { 
  background: none;
  color: rgba(255,133,27,1);
}


.form-container-db {
  margin: 0px auto;
  padding: 20px;
  max-width: 400px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,133,27,1);
  text-align: left;
}

.form-container-db h1 {
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.form-container-db label {
  color: white;
  text-align: left;
  float: left;
  font-size: 1.3em;
  font-weight: normal;
}

.form-container-db input,
.form-container-db input::-webkit-input-placeholder {
  color: rgba(255,133,27,1);
  text-align: left;
  font-family: Raleway;
}
/* user name */
.UN {
  font-weight: bold;
  font-size: 1.2em;
}

/*----------------- payment ------------------------*/

.form-container-pay {
  margin: 30px auto;
  padding: 20px;
  max-width: 450px;
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  border: 2px solid rgba(255,133,27,1);
  text-align: left;
}

.form-container-pay label {
  color: rgba(255,133,27,1);
}

.form-container-pay h1 {
  text-align: center;
}

.form-container-pay input,
.form-container-pay input::-webkit-input-placeholder {
  color: rgba(255,133,27,1);
  text-align: center;
  font-family: Raleway;
}
.form-container-pay select,
.form-container-pay option {
  color:  rgba(255,133,27,1);
  background-color:  rgba(0,32,63,1);
}
/*---------------Navbar-----------------------------*/
a.navbar-brand.logo-img {
  background: url(../images/ptulogo.png) no-repeat center;
  background-size: contain; 
  width: 200px;
}

.navbar-custom {
  background: rgba(255,133,27,1) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  font-family: Raleway;
  margin-bottom: -1px !important;
}

.navbar-brand {
  color: rgba(0,32,63,1);
}

.navbar-custom button,
.navbar-custom span,
.navbar-custom li a {
  color: rgba(0,32,63,1);
}

.navbar-custom li a:hover {
  background: none;
}

.navbar-custom button:hover {
  background: rgba(1,255,111,1);
}

/* toggle won't stay green
.navbar-custom .navbar-nav .dropdown-menu,
.navbar-custom .navbar-nav .dropdown > .active {
  background-color: rgba(1,255,111,1);
} */

button.navbar-toggle {
  color: rgba(255,133,27,1);
  background: rgba(0,32,63,1);
}

.navbar-toggle span {
  background: rgba(255,133,27,1);
}

/*-----------------Carousel--------------------------*/

.carousel-inner {
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: Raleway;
}

.carousel-inner h1 {
  font-size: 3em;
}

.carousel-inner h3 {
  margin: 3px;
}

.item {
  padding: 80px;
}

.cl-effect-21 a {
  margin-top: 15px;
}

/* Carousel Call to Action link */
.cta-link {
  font-size: 2em;
}

/*-----------------Footer--------------------------*/

.footer {
  background: rgba(255,133,27,1) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  font-family: Raleway;
  padding: 10px;
}

.footer .container {
  max-width: 80%;
}

.footer-links {
  display: inline-block;
  margin: auto;
  list-style-type: none;
  position: relative;
  top: 0;
}

.footer-links li,
.footer-links li a,
.footer-links li p {
  color: rgba(0,32,63,1);
}

/*------------- Link Effects-------------------------*/
/* Effect 21: borders slight translate */

a,
a:hover {
  text-decoration: none;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 45px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

/*color before hover*/
.cl-effect-21 a {
	padding: 10px;
	color: rgba(1,255,111,1);
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

/*top/bottom bars hover*/
.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(255,133,27,1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
  text-decoration: none;
}

/*text color hover*/
.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: rgba(255,133,27,1);
  text-decoration: none;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
  text-decoration: none;
}

/*---------Link Effects for Header----------------*/

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}

.ij-effect-1 a::before,
.ij-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.ij-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.ij-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.ij-effect-1 a:hover::before,
.ij-effect-1 a:hover::after,
.ij-effect-1 a:focus::before,
.ij-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/*-------------Gradient Classes----------------------*/
.bg-navy-gradient {
  background: rgba(0,32,63,1)  no-repeat;
  background: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%) no-repeat;
}
.bg-orange-gradient {
  background: rgba(255,133,27,1) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%) no-repeat;
}
.bg-green-gradient {
  background: rgba(46,204,64,1) no-repeat;
  background: -webkit-linear-gradient(top, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%) no-repeat;
  background: linear-gradient(to bottom, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%) no-repeat;
}

.bg-aqua-gradient {
  background: rgba(127,219,255,1);
  background: -webkit-linear-gradient(top, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
  background: linear-gradient(to bottom, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
}

.bg-blue-gradient {
  background: rgba(0,116,217,1);
  background: -webkit-linear-gradient(top, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
  background: linear-gradient(to bottom, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
}

.bg-teal-gradient {
  background: rgba(57,204,204,1);
  background: -webkit-linear-gradient(top, rgba(57,204,204,1) 0%, rgba(34,122,122,1) 100%);
  background: linear-gradient(to bottom, rgba(57,204,204,1) 0%, rgba(34,122,122,1) 100%);
}

.bg-lime-gradient {
  background: rgba(1,255,111,1);
  background: -webkit-linear-gradient(top, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
  background: linear-gradient(to bottom, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
}

.bg-yellow-gradient {
  background: rgba(255,221,0,1);
  background: -webkit-linear-gradient(top, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
}

.bg-red-gradient {
  background: rgba(246,46,36,1);
  background: -webkit-linear-gradient(top, rgba(246,46,36,1) 0%, rgba(255,54,121,1) 100%);
  background: linear-gradient(to bottom, rgba(246,46,36,1) 0%, rgba(255,54,121,1) 100%);
}

.bg-fuchsia-gradient {
  background: rgba(240,18,188,1);
  background: -webkit-linear-gradient(top, rgba(240,18,188,1) 0%, rgba(163,11,128,1) 100%);
  background: linear-gradient(to bottom, rgba(240,18,188,1) 0%, rgba(163,11,128,1) 100%);
}

.bg-purple-gradient {
  background: rgba(176,13,201,1);
  background: -webkit-linear-gradient(top, rgba(176,13,201,1) 0%, rgba(107,7,122,1) 100%);
  background: linear-gradient(to bottom, rgba(176,13,201,1) 0%, rgba(107,7,122,1) 100%);
}

.bg-maroon-gradient {
  background: rgba(204,31,115,1);
  background: -webkit-linear-gradient(top, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
  background: linear-gradient(to bottom, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
}
/*---------------Cert Containers---------------------------*/

.certs-container {
  margin: auto;
  font-family: Raleway;
}

.cert-container {
  margin: auto;
  background: /*rgba(0,0,0,0.2)*/;
  padding: 10px;
  border: /*1px solid rgba(0,32,63,1)*/;
}

.certs-container h1 {
  margin: 0 0 0 0;
  text-align: center;
}

.certs-container p {
  margin: 0 0 0 0;
  background: rgba(0,0,0,.4);
  font-size: 1.2em;
}

.certs-container input {
  color: rgba(255,255,255,1);
}

/*---------------- cert image -----------------*/
.cert-img-container {
  position: relative;
  background: none;
  width: 80%;
  margin: 20px auto 50px auto;
  text-align: center;
}
.cert-img {
  margin: auto;
  position: relative;
}
#nameOnCert {
  background-color: none;
  color: black;
  display: inline;
  position: absolute;
  top: 300px;
  left: 400px;
}
/*----------------span classes-----------------*/

span.green {
  color: rgba(46,204,64,1);
}

span.red {
  color: rgba(246,46,36,1);
}

span.blue {
  color: rgba(0,116,217,1);
}

span.bold {
  font-weight: bold;
}

span.lg {
  font-size: 1.2em;
}

/*------------- Logo Images --------------*/
.logo-img {
  background: url(../images/ptulogo.png) no-repeat center;
  background-size: contain; 
  width: 200px;
  height: 50px;
}

.logo-img-O {
  background: url(../images/ptulogoOrange.png) no-repeat center;
  background-size: contain; 
  width: 200px;
  height: 50px;
}

/*----------------- verify Modal --------------------*/

.modal-content {
  color: rgba(0,32,63,1);
  font-family: Raleway;
  font-size: 1.2em;
}

.modal p,
.modal label {
  font-weight: bold;
}

.modal select,
.modal option {
  color:  rgba(255,133,27,1);
  background-color:  rgba(0,32,63,1);
}

.modal input,
.modal input::-webkit-input-placeholder {
  color: rgba(255,133,27,1);
  text-align: left;
  font-family: Raleway;
}

/*----------------- verified.jade -----------------------*/
.verified-container {
  max-width: 60%;
  background: rgba(0,32,63,0.2);
  margin: 30px auto;
}
/*=============== navbar collapse threshold =================*/

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

/*==============End Navbar collapse threshold=============*/
