// @media formatting
@media (max-width: 600px) {
body {
  line-height: 21px !important;
}
h2, h3, h4, h5 {
  font-size: 1.2em !important;
} 
td {
  font-size: 0.9em !important;
}
p {
  font-size: 12px !important;
}
ul li.no-style a.green, {
  font-size: 0.7em !important;
} 

.carousel-inner .item h1 {
  font-size: 1.5em !important;
}
.carousel-inner .item h3 {
  font-size: 1em !important;
}
.carousel-inner .item nav a {
  font-size: 1em !important;
}
.cert-container h1 {
  font-size: 1.5em !important;
}

}

@media (max-width: 700px) {
ol.carousel-indicators li {
  display: none !important;
}
} 
/*=============== navbar collapse threshold =================*/

@media (max-width: 1200px) {
.navbar-header {
  float: none;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}
}

/*==============End Navbar collapse threshold=============*/
