.comp-table {
  width: 80%;
  margin: auto;
}
.comp-table-h {
  background: #222;
  color: #fff;
  width: 80%;
  font-size: 2em;
  text-align: center;
  border: 2px solid white;
  margin: auto;
}
.comp-table-f {
  background: #222;
  color: #fff;
  width: 80%;
  font-size: 1em;
  text-align: center;
  border: 2px solid white;
  margin: auto;
}
.comp-table-d {
  background: #222;
  color: #fff;
  width: auto;
  font-size: 2em;
  text-align: center;
  border: 2px solid white;
  margin: auto;
}
