// Fixed navbar
.navbar.navbar-custom(role='navigation')
  .container
    .navbar-header

      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo-img(href='/')

    .navbar-collapse.collapse
      ul.nav.navbar-nav.ij-effect-1
        li
          a(href='/about') About
        li
          a(href='/faq') FAQ

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Certifications 
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='/certifications#cpt-section') Certified Personal Trainer
            li
              a(href='/certifications#cmt-section') Certified Master Trainer
            li
              a(href='/certifications#cns-section') Certified Nutrition Specialist

        li
          a(href='#', data-toggle='modal',
            data-target='#verifyModal') Verify Certification 

      ul.nav.navbar-nav.navbar-right.ij-effect-1
        li
          if (!user)
            a(href='/login') #[span(class='fa fa-sign-in')] Login
          if (user)
            a(href='/dashboard#/contact-info').UN #[span(class='fa fa-user')] #{user.local.name}
        li
          if (!user)
            a(href='/signup') #[span(class='fa fa-lock')] Sign Up
          if (user)
            a(href='/logout') Logout
        li.active
          if (user)
            a(href='/dashboard#/contact-info') Dashboard
          if (!user)
            a(href='/login') Dashboard
          
    // /.nav-collapse
